<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>View Paste (<%= syntax %>)</title>

    <script src="/Libraries/prism-light.js" id="prism-js"></script>
    <link href="/Libraries/prism-light.css" id="prism-css" rel="stylesheet">

    <script src="/js/view-theme.js"></script>
</head>

<body>
    <div style="display: block">
        <pre class="line-numbers"><code class="language-<%= syntax %>"><%= paste %></code></pre>
    </div>
</body>

</html>